/**
Folha de estilo do site roboticapratica.com
@author Luis Antonio de Paula Lima
*/

/* Importar fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* variáveis globais */

:root {
    --pretoLayout: #000000;
    --brancoLayout: #ffffff;
    --backgroundCard: #e0e0e0;
    --bordaLayout: #b6b6b6;
    --vermelhoLayout: #aa0000;
    --cinzaLayout: #414141;
}

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Banner */
main {
    background: url(img/banner.png);
    height: 40vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    text-shadow: #000000 0.12em 0.12em 0.12em;
}

main h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.4em;
}

main h2 {
    font-size: 1em;
}

main h1,h2 {
    color: var(--brancoLayout);
}

/* Layout */
html {
    scroll-behavior: smooth;
}

.FlexMenu {
    display: Flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    text-align: right;
    align-items: center;
}


.Card {
    margin-top: 30px;
    width: 338px;
    height: 450px;
    background-color: var(--backgroundCard);
    border: 1px solid var(--bordaLayout);
    border-radius: 25px;
    text-align: center;
}

.Card img {
    border-radius: 25px 25px 0px 0px;
}

.Card h3 {
    margin: 15px 30px 0px 30px;
}

.Card p {
    padding: 10px 30px 50px 30px;
    text-align: left;
    color: var(--cinzaLayout)
}

.Card2 {
    margin-top: 30px;
    width: 338px;
    height: 450px;
    background-color: var(--backgroundCard);
    border: 1px solid var(--bordaLayout);
    border-radius: 25px;
    text-align: center;
    
}

.Card2 img {
    border-radius: 25px 25px 0px 0px;
}

.Card2 h3 {
    margin: 15px 30px 0px 30px;
}

.Card2 p {
    padding: 10px 30px 50px 30px;
    text-align: left;
    color: var(--cinzaLayout)
}



.Buttom {
    background-color: var(--vermelhoLayout);
    color: var(--brancoLayout);
    padding: 5px 25px 5px 25px;
    border-radius: 25px;
    border: 2px solid var(--pretoLayout);
    font-size: 1.2em;
    font-weight: 700;
}

/* Fonte */
body {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
}

/* Centralização do conteúdo */

.Container {
    margin: 0 auto;
    padding: 25px 15px 50px 15px;
}

.Container2 {
    margin: 0 auto;
    padding: 0px 15px 50px 30px;
}

.Flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Flex2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Flex3 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Smartphone portrait         */

/* Cabeçalho */

#logo img {
    width: 96px;
    height: 96px;
    
}

header {
    background-color: var(--pretoLayout);
    color: var(--brancoLayout);
    height: 97px;
    
}

/* Footer */
footer {
    background-color: var(--pretoLayout);
    color: var(--brancoLayout);
    text-align: center;
}

#social {
        margin-bottom: 25px;
}

label {
    position: fixed;
    font-size: 2em;
    padding-right: 25px;
    right: 10px;
    top: 48px;
    color: rgba(125, 125, 125, 0.9);
}

nav ul {
    list-style: none;
    background-color: rgba(65, 65, 65, 0.9);
    height: 100vh;
    position: fixed;
    top:97px;
    right: -60%;
    width: 60%;
    transition: all 0.5s;
}

section div a:hover {
    color: var(--pretoLayout);
}

#check:checked ~ ul {
    right: 0;
}

nav ul li {
    padding: 20px;
    border-bottom: 1px solid var(--bordaLayout);
    display: block;
    padding-right: 10px;
    color: var(--brancoLayout);
}

nav ul li a {
    color: var(--brancoLayout);
}
nav ul li a:hover {
    color: var(--vermelhoLayout);
}

a {
    text-decoration: none;
}

#topo {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

/* Smartphone landscape        */
@media (min-width: 576px) {
    .Container {
        max-width: 540px;

    }

    .Flex {
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;

    }

    main {
        height: 45vh; 
    }

    main h1 {
        font-size: 1.7em;
    }

    main h2 {
        font-size: 1em;
    }

    footer {
        background-color: var(--pretoLayout);
        color: var(--brancoLayout);
        text-align: center;
        padding-top: 36px;
    }

    nav ul {
        top: 96px;
        right: -50%;
        width: 50%;
    }
    
    #social {
        margin-bottom: 0px;
    }

    header {
    height: 96px;
    }
}

/* Tablet portrait             */
@media (min-width: 768px) {
    .Container {
        max-width: 720px;
    }

    #logo img {
        width: 140px;
        height: 140px;
        
    }

    nav ul {
        top:140px;
        right: -50%;
        width: 50%;
    }
    
    header {
        height: 140px;
    }

    main {
        height: 35vh; 
    }

    main h1 {
        font-size: 2.5em;
    }

    main h2 {
        font-size: 1.6em;
    }
}

/* Tablet landscape            */
@media (min-width: 992px) {
    .Container {
        max-width: 960px;
    }
    #logo img {
        width: 128px;
        height: 128px;
        
    }
    nav ul {
        top: 128px;
    }
    header {
        height: 128px;
    }

    main h2 {
        font-size: 1.4em;
    }
}

/* PCs ou notebooks HD         */
@media (min-width: 1200px) {
    .Container {
        max-width: 1140px;
        padding: 15px 15px 50px 15px;
    }
    
    .Container2 {
        max-width: 1140px;
        padding: 15px 15px 50px 15px;
    }
    .Flex {
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        
    }

    #logo img {
        width: 128px;
        height: 128px;
    }
    header {
        height: 160px;
    }
    label {
        display: none;
    }
    nav ul {
        position: static;
        height: auto;
        background-color: transparent;
        margin-top: 10px;
        margin-left: 300px;
        transition: all 0s;
        display: inline-block;
    }
    nav ul li {
        float: left;
        border: 0;
        text-align: left;
        
    }

    main {
        height: 30vh; 
    }

    main h1 {
        font-size: 2em;
    }

    main h2 {
        font-size: 1.1em;
    }

    #topo img {
        width: 54px;
        height: 54px;
    }
    
}

/* PCs notebooks TVs Full HD + */
@media (min-width: 1400px) {
    .Container {
        max-width: 1360px;
    }
}