/**
Folha de estilo do site roboticapratica.com
@author Luis Antonio de Paula Lima
*/

/* Importar fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* variáveis globais */

:root {
    --pretoLayout: #000000;
    --brancoLayout: #ffffff;
    --backgroundCard: #e0e0e0;
    --bordaLayout: #b6b6b6;
    --vermelhoLayout: #aa0000;
    --cinzaLayout: #414141;
    --vermelhoTexto: #ff0000;
    --azulTexto: #006eff;
    --verdeTexto: #2bff00;
    --amareloTexto: #ffdd00;
    --laranjaTexto: #ff5900;
}

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Banner */
main {
    background: url(img/banner.png);
    height: 40vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    text-shadow: #000000 0.12em 0.12em 0.12em;
}

main h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.4em;
}

main h2 {
    font-size: 1.1em;
}

main h1,h2 {
    color: var(--brancoLayout);
}

#banner {
    width: 338px;
    height: 216px;
}

#banner2 {
    width: 338px;
    height: 216px;
}

/* Banner de páginas */
.BannerPaginas {
    background: url(img/banner.png);
    height: 15vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    text-shadow: #000000 0.12em 0.12em 0.12em;
}

.FlexBannerPaginas {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.BannerPaginas h1{
    color:var(--brancoLayout);
    font-size: 2.5em;
}

/* Layout */
html {
    scroll-behavior: smooth;
}

.FlexMenu {
    display: Flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    text-align: right;
    align-items: center;
}


.Card {
    margin-top: 15px;
    width: 338px;
    height: 450px;
    background-color: var(--backgroundCard);
    border: 1px solid var(--bordaLayout);
    border-radius: 25px;
    text-align: center;
}

.Card img {
    border-radius: 25px 25px 0px 0px;
}

.Card h3 {
    margin: 15px 30px 0px 30px;
}

.Card p {
    padding: 10px 30px 50px 30px;
    text-align: left;
    color: var(--cinzaLayout)
}

.Card video {
    border-radius: 25px 25px 0px 0px;
}

.Card2 {
    margin: 30px 5px 0px 5px;
    width: 338px;
    height: 450px;
    background-color: var(--backgroundCard);
    border: 1px solid var(--bordaLayout);
    border-radius: 25px;
    text-align: center;
}

.Card2 img {
    border-radius: 25px 25px 0px 0px;
}

.Card2 h3 {
    margin: 15px 30px 0px 30px;
}

.Card2 p {
    padding: 10px 30px 50px 30px;
    text-align: left;
    color: var(--cinzaLayout)
}

.Card3 {
    margin-top: 30px;
    width: 600px;
    height: 230px;
    background-color: var(--backgroundCard);
    border: 2px solid var(--bordaLayout);
    border-radius: 25px;
    text-align: center;
}

.Card3 h3 {
    margin: 0px 30px 0px 30px;
}

.Card3 p {
    padding: 0px 30px 0px 30px;
    text-align: left;
    color: var(--cinzaLayout)
}

/* Botão */

.Buttom {
    background-color: var(--vermelhoLayout);
    color: var(--brancoLayout);
    padding: 5px 25px 5px 25px;
    border-radius: 25px;
    border: 2px solid var(--pretoLayout);
    font-size: 1.2em;
    font-weight: 700;
}



/* Fonte */
body {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
}

/* Centralização do conteúdo */

.Container {
    margin: 0 auto;
    padding: 25px 15px 50px 15px;
}

.Container2 {
    margin: 0 auto;
    padding: 0px 15px 50px 30px;
}

.Container3{
    margin: 0 auto;
    padding: 50px 15px 30px 15px;
}

.Container4 {
    margin: 0 auto;
    padding: 50px 15px 50px 15px;
}

.Container5 {
    margin: 0 auto;
    padding: 140px 15px 50px 15px;
}

.Container6 {
    margin: 0 auto;
    padding: 25px 30px 50px 30px;
}

.ContainerIntroducao {
    margin: 0 auto;
    padding: 40px 15px 0px 15px;
}

.ContainerSobre {
    margin: 0 auto;
    padding: 50px 15px 50px 15px;
}

.ContainerCubos {
    margin: 0 auto;
    padding: 50px 15px 50px 8px;
}

.ContainerMovimentos {
    margin: 0 auto;
    padding: 25px 15px 25px 15px;
}

.Flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Flex2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Flex3 {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.Flex4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.FlexSobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Flex5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    text-align: left;
}

.FlexPrincipal {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.FlexYoutube {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.FlexCubo {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.FlexCubo2 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.FlexTextoCentralizado {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

/*
#principalCards {
    background: url(img/banner.png);
    background-size: cover;
    background-position: center;
}
*/

.YouTube {
    background-color: var(--cinzaLayout);
    font-size: 0.77em;
    flex-direction: column;
}

.Youtube div, a {
    margin-top: 15px;
}

.Introducao {
    text-align: center;
}

.slider {
    width: 338px;
    height: 216px;
    background: url(img/cubo1.png);
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 25px 25px 0px 0px;
    animation: slide 30s infinite;
}

.imagemAjustavel {
    height: 200px;
    width: 290px;
}

.border div, p{
    margin: 0px 25px 0px 25px;
}

.border img{
    border-radius: 25px;
    margin: 70px 0px 15px 0px;
}

.border2 div, p{
    margin: 0px 0px 0px 0px;
}

.border2 img{
    border-radius: 25px;
    margin: 70px 0px 15px 0px;
    width: 285px;
    height: 285px;
}

.bannerCubo {
    display: none;
}

.bannerCubo img{
    display: none;
}

.bannerCubo h1{
    display: none;
}

.bannerCubo p {
    display: none;
}

.CuboTipos {
    width: 360px;
    height: 230px;
}

#imgSobre img{
    border: 3px solid var(--pretoLayout);
    border-radius: 50%;
}

#textoSobre h2, p {
    color:#000000;
}

#DivulgacaoYoutube {
    margin-top: 0px;
    margin-right: 0px;
}

#TiposDeCubo {
    list-style: none;
}

#TiposDeCubo img {
    border-radius: 25px;
    margin: 20px 0px 20px 0px;
}

.espacamentoTexto {
    padding: 0px 0px 70px 0px;
}

#CubosFuturos {
    list-style: none;
}

#CubosFuturos img {
    border-radius: 25px;
}


@keyframes slide{
    0%{
        background: url(img/cubo1.png);
        background-size: cover;
        background-position: center;
    }
    25%{
        background: url(img/cubo2.png);
        background-size: cover;
        background-position: center;
    }
    50%{
        background: url(img/cubo3.png);
        background-size: cover;
        background-position: center;
    }
    75%{
        background: url(img/cubo4.png);
        background-size: cover;
        background-position: center;
    }
    100%{
        background: url(img/cubo1.png);
        background-size: cover;
        background-position: center;
    }
}

/* Smartphone portrait         */

/* Cabeçalho */

#logo img {
    width: 96px;
    height: 96px;
    
}

header {
    background-color: var(--pretoLayout);
    color: var(--brancoLayout);
    height: 97px;
    
}


/* Footer */
footer {
    background-color: var(--pretoLayout);
    color: var(--brancoLayout);
    text-align: center;
}

footer p {
    background-color: var(--pretoLayout);
    color: var(--brancoLayout);
    text-align: center;
}

#social {
        margin-bottom: 25px;
}

label {
    position: fixed;
    font-size: 2em;
    padding-right: 25px;
    right: 10px;
    top: 48px;
    color: rgba(125, 125, 125, 0.9);
    z-index: 3;
}

nav ul {
    list-style: none;
    background-color: rgba(65, 65, 65, 0.9);
    height: 100vh;
    position: fixed;
    top:97px;
    right: -60%;
    width: 60%;
    transition: all 0.5s;
    z-index: 3;
}

section div a:hover {
    color: var(--pretoLayout);
}

#check:checked ~ ul {
    right: 0;
}

nav ul li {
    padding: 20px;
    border-bottom: 1px solid var(--bordaLayout);
    display: block;
    padding-right: 10px;
    color: var(--brancoLayout);
}

nav ul li a {
    color: var(--brancoLayout);
}
nav ul li a:hover {
    color: var(--vermelhoLayout);
}

a {
    text-decoration: none;
}



#topo {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

#destaque {
    color: var(--amareloTexto);
}
#destaque2 {
    color: var(--vermelhoTexto);
}
#destaque3 {
    color: var(--laranjaTexto);
}
#destaque4 {
    color: var(--azulTexto);
}
#destaque5 {
    color: var(--verdeTexto);
}

#youtube {
    font-size: 1.7em;
    color: var(--vermelhoTexto)
}

/* Smartphone landscape        */
@media (min-width: 576px) {
    .Container {
        max-width: 540px;

    }

    .ContainerCubos {
        margin: 0 auto;
        padding: 50px 15px 50px 15px;
    }

    .Flex {
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;

    }

    .Flex4 {
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        text-align: left;
    }

    .FlexSobre {
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        text-align: left; 
    }

    .FlexYoutube {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: normal;
        flex-direction: row;
    }

    .FlexCubo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }
    
    .FlexCubo2 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    .BannerPaginas {
        height: 25vh;
    }

    .YouTube {
        font-size: 1em;
    }

    .Youtube div, a {
        margin-top: 0px;
    }

    .espacamentoTexto {
        padding: 0px 0px 0px 0px;
    }

    main {
        height: 45vh; 
    }

    main h1 {
        font-size: 1.7em;
    }

    main h2 {
        font-size: 1em;
    }

    footer {
        background-color: var(--pretoLayout);
        color: var(--brancoLayout);
        text-align: center;
        padding-top: 36px;
    }

    nav ul {
        top: 96px;
        right: -50%;
        width: 50%;
    }
    
    #social {
        margin-bottom: 0px;
    }

    header {
    height: 96px;
    }

    #DivulgacaoYoutube {
        margin-top: -15px;
        margin-right: 15px;
    }

    .espacamentoTutorial p{
        padding-left: 15px;
    }
}

/* Tablet portrait             */
@media (min-width: 768px) {
    .Container {
        max-width: 720px;
    }

    .Flex4 {
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
    }

    .FlexSobre {
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
    }

    .BannerPaginas {
        height: 12vh;
    }

    .espacamentoTutorial p{
        padding-left: 0px;
    }

    .YouTube {
        font-size: 1.15em;
    }

    .border div, p{
        margin: 0px 0px 0px 0px;
    }
    
    .border img{
        border-radius: 25px;
        margin: 70px 0px 15px 0px;
    }

    .imagemAjustavel {
        height: 280px;
        width: 430px;
    }

    #logo img {
        width: 140px;
        height: 140px;
        
    }

    nav ul {
        top:140px;
        right: -50%;
        width: 50%;
    }
    
    header {
        height: 140px;
    }

    main {
        height: 35vh;
    }

    main h1 {
        font-size: 2.5em;
    }

    main h2 {
        font-size: 1.6em;
    }

    /*
    #principalCards {
        background-attachment: fixed;
    }
    */
}

/* Tablet landscape            */
@media (min-width: 992px) {
    .Container {
        max-width: 960px;
    }

    .Flex4 {
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
    }

    .FlexSobre {
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
    }

    .BannerPaginas {
        height: 15vh;
    }

    .border div, p{
        margin: 0px 15px 0px 15px;
    }
    
    .border img{
        border-radius: 25px;
        margin: 70px 0px 15px 0px;
    }

    #logo img {
        width: 128px;
        height: 128px;
        
    }
    nav ul {
        top: 128px;
    }
    header {
        height: 128px;
    }

    main h2 {
        font-size: 1.4em;
    }
}

/* PCs ou notebooks HD         */
@media (min-width: 1200px) {
    .Container {
        max-width: 1140px;
        padding: 15px 15px 40px 15px;
    }
    
    .Container2 {
        max-width: 1140px;
        padding: 15px 15px 50px 15px;
    }

    .Container3{
        margin: 0 auto;
        padding: 50px 15px 30px 450px;
    }

    .Container4 {
        margin: 0 auto;
        padding: 50px 400px 50px 400px;
    }

    .Container5 {
        margin: 0 auto;
        padding: 140px 15px 50px 15px;
    }

    .ContainerCubos {
        padding: 70px 300px 70px 300px;
    }

    .Flex {
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
    }

    .FlexPrincipal h1, h2 {
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
    }

    .Flex4 {
        flex-direction: row;
        justify-content:space-around;
    }

    .FlexSobre {
        flex-direction: row;
        justify-content:space-around;
    }

    .FlexSection {
        display: flex;
        align-items: center;
    }

    .YouTube {
        font-size: 1em;
        
    }

    .border div, p{
        margin: 0px 25px 0px 25px;
    }
    
    .border img{
        border-radius: 25px;
        margin: 70px 0px 15px 0px;
    }

    .border2 div, p{
        margin: 0px 25px 0px 25px;
    }
    
    .border2 img{
        border-radius: 25px;
        margin: 70px 25px 15px 25px;
        width: 300px;
        height: 300px;
    }

    /* Citações */
    .bannerCubo {
        display: block;
        background: url(img/banner3.png);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    .bannerCubo img, h1{
        display: flex;
    }
    
    .bannerCubo p {
        display: flex;
    }

    #logo img {
        width: 128px;
        height: 128px;
    }
    header {
        height: 160px;
    }
    label {
        display: none;
    }
    nav ul {
        position: static;
        height: auto;
        background-color: transparent;
        margin-top: 10px;
        margin-left: 364px;
        transition: all 0s;
        display: inline-block;
    }
    nav ul li {
        float: left;
        border: 0;
        text-align: left;
        
    }

    main {
        height: 30vh; 
        background-attachment: fixed;
    }

    main h1 {
        font-size: 2em;
    }

    main h2 {
        font-size: 1.1em;
    }

    #topo img {
        width: 54px;
        height: 54px;
    }

    #imgCubo img{
        border: 3px solid var(--pretoLayout);
        border-radius: 50%;
    }
    
    #textoCubo p{
        color: var(--brancoLayout);
        margin-left: 10px;
    }
    
    #textoCubo h2 {
        font-family: "sans-serif", sans-serif;
        font-weight: 600;
        font-size: 1.5em;
        margin-bottom: 10px;
        margin-left: 10px;
        color: var(--brancoLayout);
    }

    #DivulgacaoYoutube {
        margin-top: -15px;
        margin-right: 450px;
    }

    .TopicosIntro {
        margin-top: 10px;
    }
    
    .TopicosIntro img {
        margin-right: 20px;
    }

    .imagemAjustavel {
        height: 300px;
        width: 450px;
    }

    #textoSobre h2{
        margin-left: 24px;
    }
    
}

/* PCs notebooks TVs Full HD + */
@media (min-width: 1400px) {
    .Container {
        max-width: 1360px;
    }
}